img{margin-bottom:-5px}a{color:inherit}
.zk-image{max-width:100%;height:auto}
.zk-table,.zk-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.zk-table-all{border:1px solid #ccc}
.zk-bordered tr,.zk-table-all tr{border-bottom:1px solid #ddd}
.zk-striped tbody tr:nth-child(even){background-color:#ffdddd}
.zk-table-all tr:nth-child(odd){background-color:#c3ffce}
.zk-table-all tr:nth-child(even){background-color:#cec3ff}
.zk-hoverable tbody tr:hover,.zk-ul.zk-hoverable li:hover{background-color:#ccc}
.zk-centered tr th,.zk-centered tr td{text-align:center}
.zk-table td,.zk-table th,.zk-table-all td,.zk-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.zk-table th:first-child,.zk-table td:first-child,.zk-table-all th:first-child,.zk-table-all td:first-child{padding-left:16px}
.zk-btn,.zk-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.zk-btn:hover,.zk-btn-block:hover,.zk-btn-floating:hover,.zk-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.zk-btn,.zk-btn-floating,.zk-btn-floating-large,.zk-closenav,.zk-opennav,.zk-btn-block{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.zk-btn-floating,.zk-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.zk-btn-floating{width:40px;height:40px;line-height:40px}.zk-btn-floating-large{width:56px;height:56px;line-height:56px}
.zk-disabled,.zk-btn:disabled,.zk-btn-floating:disabled,.zk-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.zk-btn.zk-disabled *,.zk-btn-block.zk-disabled,.zk-btn-floating.zk-disabled *,.zk-btn:disabled *,.zk-btn-floating:disabled *{pointer-events:none}
.zk-btn.zk-disabled:hover,.zk-btn-block.zk-disabled:hover,.zk-btn:disabled:hover,.zk-btn-floating.zk-disabled:hover,.zk-btn-floating:disabled:hover,
.zk-btn-floating-large.zk-disabled:hover,.zk-btn-floating-large:disabled:hover{box-shadow:none}
.zk-btn-group .zk-btn{float:left}.zk-btn-block{width:100%}
.zk-btn-bar .zk-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.zk-btn-bar .zk-btn:hover{background-color:#ccc}
.zk-badge,.zk-tag,.zk-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.zk-badge{border-radius:50%}
ul.zk-ul{list-style-type:none;padding:0;margin:0}ul.zk-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}ul.zk-ul li:last-child{border-bottom:none}
.zk-col.s1{width:8.33333%}
.zk-col.s2{width:16.66666%}
.zk-col.s3{width:24.99999%}
.zk-col.s4{width:33.33333%}
.zk-col.s5{width:41.66666%}
.zk-col.s6{width:49.99999%}
.zk-col.s7{width:58.33333%}
.zk-col.s8{width:66.66666%}
.zk-col.s9{width:74.99999%}
.zk-col.s10{width:83.33333%}
.zk-col.s11{width:91.66666%}
.zk-col.s12,.zk-half,.zk-third,.zk-twothird,.zk-threequarter,.zk-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.zk-col.m1{width:8.33333%}
.zk-col.m2{width:16.66666%}
.zk-col.m3,.zk-quarter{width:24.99999%}
.zk-col.m4,.zk-third{width:33.33333%}
.zk-col.m5{width:41.66666%}
.zk-col.m6,.zk-half{width:49.99999%}
.zk-col.m7{width:58.33333%}
.zk-col.m8,.zk-twothird{width:66.66666%}
.zk-col.m9,.zk-threequarter{width:74.99999%}
.zk-col.m10{width:83.33333%}
.zk-col.m11{width:91.66666%}
.zk-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.zk-col.l1{width:8.33333%}
.zk-col.l2{width:16.66666%}
.zk-col.l3,.zk-quarter{width:24.99999%}
.zk-col.l4,.zk-third{width:33.33333%}
.zk-col.l5{width:41.66666%}
.zk-col.l6,.zk-half{width:49.99999%}
.zk-col.l7{width:58.33333%}
.zk-col.l8,.zk-twothird{width:66.66666%}
.zk-col.l9,.zk-threequarter{width:74.99999%}
.zk-col.l10{width:83.33333%}
.zk-col.l11{width:91.66666%}
.zk-col.l12{width:99.99999%}}
.zk-content{max-width:980px;margin:auto}
.zk-rest{overflow:hidden}
.zk-section{margin-top:16px!important;margin-bottom:16px!important}
.zk-padding-tiny{padding:2px 4px!important}.zk-padding-small{padding:4px 8px!important}
.zk-padding-medium,.zk-padding,.zk-form{padding:8px 16px!important}
.zk-padding-large{padding:12px 24px!important}.zk-padding-xlarge{padding:16px 32px!important}
.zk-padding-xxlarge{padding:24px 48px!important}.zk-padding-jumbo{padding:32px 64px!important}
.zk-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.zk-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.zk-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.zk-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.zk-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.zk-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.zk-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.zk-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.zk-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.zk-padding-0{padding:0!important}
.zk-padding-top{padding-top:8px!important}.zk-padding-bottom{padding-bottom:8px!important}
.zk-padding-left{padding-left:16px!important}.zk-padding-right{padding-right:16px!important}
.zk-card{border:1px solid #ccc}
.zk-card-2,.zk-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.zk-card-4,.zk-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.zk-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); background-color: gray; color: yellow;}
.zk-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.zk-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.zk-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
#nav-bar{
	padding: 20px;
	padding-top: 40px;
	padding-left: 20%;
	width: auto;
	height: auto;
	margin: 2px;
	border-radius: 20px;
}
#nav-bar ul{
	width: auto;
	position: absolute;
	background-color: #80ffbf;
	border: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-top: 1px solid #ff0000;
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav-bar ul li{
	float: left;
	height: 40px;
	width: 200px;
	padding-top: 6px;
	padding-bottom: 2px;
	margin: 2px;
	text-align: center;
}
#nav-bar ul li:hover{
	color: #0000ff;
	background-color: #f1fedc;
	padding-left: 0px;
	padding-top: 5px;
}
#nav-bar ul li a{
	display: block;
	padding: 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #0000ff;
}
#nav-bar ul li a:hover{
	background-color: #f1fedc;
	color: #000000;
	text-shadow: 0px 1px 0px #ffffff;
}
#nav-bar ul li ul{
	list-style: none;
	background-color: #d9ffcc;
	width: 200px;
	height: auto;
	padding: 0px;
	margin-top: 11px;
	border: 3px solid #00ff00;
	border-bottom: 3px solid #0000ff;
	position: left;
	display: none;
}
#nav-bar ul li ul li{
	width: 100%;
	float: left;
}
#nav-bar ul li:hover ul{
	display: block;
}
#nav-bar ul li:hover ul li{
	color: #000000;
}
#nav-bar ul li ul li:hover{
	color: #0000ff;
}
#fom{
	display: block;
	width: auto;
	height: auto;
	margin: 2px;
	padding: 5px;
}
#fom span{
	margin: 2px;
	padding: 250px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#fom input{
	margin: 2px;
	padding: 5px;
	display: inline;
}
#table {
	table-layout: fixed;
	width: 100%;
}
table ,tr td{
    border:0.5px solid black;
}
/*table ,tr th{
    border:0.5px solid black;
}*/
tbody {
    display:block;
    height:400px;
    overflow:auto;
}
thead,tbody tr {
    display:table;
    width:100%;
	table-layout: fixed;
}
thead {
	
	width: calc(100%-1em)
}
table {
	width: 100%;
}
.btn {
	border-radius: 15px;
	box-shadow: 0 5px #999;
}
.btn:active {
	background-color: #ff0000;
	box-shadow: 0px #666;
    transform: translateY(5px);
}
#img {
	height: 15px;
	width: 15px;
}
