img{margin-bottom:-5px}a{color:inherit}
.zk-image{max-width:100%;height:auto}
.zk-table,.zk-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.zk-table-all{border:1px solid #ccc}
.zk-bordered tr,.zk-table-all tr{border-bottom:1px solid #ddd}
.zk-striped tbody tr:nth-child(even){background-color:#ffdddd}
.zk-table-all tr:nth-child(odd){background-color:#c3ffce}
.zk-table-all tr:nth-child(even){background-color:#cec3ff}
.zk-hoverable tbody tr:hover,.zk-ul.zk-hoverable li:hover{background-color:#ccc}
.zk-centered tr th,.zk-centered tr td{text-align:center}
.zk-table td,.zk-table th,.zk-table-all td,.zk-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.zk-table th:first-child,.zk-table td:first-child,.zk-table-all th:first-child,.zk-table-all td:first-child{padding-left:16px}
.zk-btn,.zk-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.zk-btn:hover,.zk-btn-block:hover,.zk-btn-floating:hover,.zk-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.zk-btn,.zk-btn-floating,.zk-btn-floating-large,.zk-closenav,.zk-opennav,.zk-btn-block{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.zk-btn-floating,.zk-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.zk-btn-floating{width:40px;height:40px;line-height:40px}.zk-btn-floating-large{width:56px;height:56px;line-height:56px}
.zk-disabled,.zk-btn:disabled,.zk-btn-floating:disabled,.zk-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.zk-btn.zk-disabled *,.zk-btn-block.zk-disabled,.zk-btn-floating.zk-disabled *,.zk-btn:disabled *,.zk-btn-floating:disabled *{pointer-events:none}
.zk-btn.zk-disabled:hover,.zk-btn-block.zk-disabled:hover,.zk-btn:disabled:hover,.zk-btn-floating.zk-disabled:hover,.zk-btn-floating:disabled:hover,
.zk-btn-floating-large.zk-disabled:hover,.zk-btn-floating-large:disabled:hover{box-shadow:none}
.zk-btn-group .zk-btn{float:left}.zk-btn-block{width:100%}
.zk-btn-bar .zk-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.zk-btn-bar .zk-btn:hover{background-color:#ccc}
.zk-badge,.zk-tag,.zk-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.zk-badge{border-radius:50%}
ul.zk-ul{list-style-type:none;padding:0;margin:0}ul.zk-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}ul.zk-ul li:last-child{border-bottom:none}
.zk-tooltip,.zk-display-container{position:relative}.zk-tooltip .zk-text{display:none}.zk-tooltip:hover .zk-text{display:inline-block}
.zk-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.zk-navbar li{float:left}.zk-navbar li a,.zk-navitem,.zk-navbar li .zk-btn,.zk-navbar li .zk-input{display:block;padding:8px 16px}.zk-navbar li .zk-btn,.zk-navbar li .zk-input{border:none;outline:none;width:auto;}
.zk-navbar li a:hover{color:#000;background-color:#ccc}
.zk-navbar .zk-dropdown-hover,.zk-navbar .zk-dropdown-click{position:static}
.zk-navbar .zk-dropdown-hover:hover,.zk-navbar .zk-dropdown-hover:first-child,.zk-navbar .zk-dropdown-click:hover{background-color:#ccc;color:#000}
.zk-navbar a,.zk-topnav a,.zk-sidenav a,.zk-dropdown-content a,.zk-accordion-content a,.zk-dropnav a{text-decoration:none!important}
.zk-navbar .zk-opennav.zk-right{float:right!important}.zk-topnav{padding:8px 8px}
.zk-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .25s;transition:border-bottom .25s}
.zk-topnav a:hover{border-bottom:3px solid #fff}.zk-topnav .zk-dropdown-hover a{border-bottom:0}
.zk-opennav,.zk-closenav{color:inherit}.zk-opennav:hover,.zk-closenav:hover{cursor:pointer;opacity:0.8}
.zk-btn,.zk-btn-floating,.zk-dropnav a,.zk-btn-floating-large,.zk-btn-block, .zk-navbar a,.zk-sidenav a,.zk-pagination li a,.zk-hoverable tbody tr,.zk-hoverable li,
.zk-accordion-content a,.zk-dropdown-content a,.zk-dropdown-click:hover,.zk-dropdown-hover:hover,.zk-opennav,.zk-closenav,.zk-closebtn,*[class*="zk-hover-"]
{-webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;transition:background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s}
.zk-ripple:active{opacity:0.5}.zk-ripple{-webkit-transition:opacity 0s;transition:opacity 0s}
.zk-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.zk-sidenav a{padding:4px 2px 4px 16px}.zk-sidenav a:hover{background-color:#ccc}.zk-sidenav a,.zk-dropnav a{display:block}
.zk-sidenav .zk-dropdown-hover:hover,.zk-sidenav .zk-dropdown-hover:first-child,.zk-sidenav .zk-dropdown-click:hover,.zk-dropnav a:hover{background-color:#ccc;color:#000}
.zk-sidenav .zk-dropdown-hover,.zk-sidenav .zk-dropdown-click {width:100%}.zk-sidenav .zk-dropdown-hover .zk-dropdown-content,.zk-sidenav .zk-dropdown-click .zk-dropdown-content{min-width:100%}
.zk-main,#main{transition:margin-left .4s}
.zk-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.zk-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.zk-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.zk-closebtn:hover,.zk-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.zk-pagination{display:inline-block;padding:0;margin:0}.zk-pagination li{display:inline}
.zk-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.zk-pagination li a:hover{background-color:#ccc}
.zk-input-group,.zk-group{margin-top:24px;margin-bottom:24px}
.zk-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:auto;}
.zk-label{color:#009688}.zk-input:not(:valid)~.zk-validate{color:#f44336}
.zk-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.zk-select select:focus{color:#000;border:1px solid #009688}.zk-select option[disabled]{color:#009688}
.zk-dropdown-click,.zk-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.zk-dropdown-hover:hover .zk-dropdown-content{display:block;z-index:1}
.zk-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.zk-dropdown-content a{padding:6px 16px;display:block}
.zk-dropdown-content a:hover{background-color:#ccc}
.zk-accordion {width:100%;cursor:pointer}
.zk-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.zk-accordion-content a{padding:6px 16px;display:block}.zk-accordion-content a:hover{background-color:#ccc}
.zk-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.zk-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].zk-check,input[type=radio].zk-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].zk-check:checked+.zk-validate,input[type=radio].zk-radio:checked+.zk-validate{color:#009688} 
input[type=checkbox].zk-check:disabled+.zk-validate,input[type=radio].zk-radio:disabled+.zk-validate{color:#aaa}
.zk-responsive{overflow-x:auto}
.zk-container:after,.zk-panel:after,.zk-row:after,.zk-row-padding:after,.zk-topnav:after,.zk-clear:after,.zk-btn-group:before,.zk-btn-group:after,.zk-btn-bar:before,.zk-btn-bar:after
{content:"";display:table;clear:both}
.zk-col,.zk-half,.zk-third,.zk-twothird,.zk-threequarter,.zk-quarter{float:left;width:100%}
.zk-col.s1{width:8.33333%}
.zk-col.s2{width:16.66666%}
.zk-col.s3{width:24.99999%}
.zk-col.s4{width:33.33333%}
.zk-col.s5{width:41.66666%}
.zk-col.s6{width:49.99999%}
.zk-col.s7{width:58.33333%}
.zk-col.s8{width:66.66666%}
.zk-col.s9{width:74.99999%}
.zk-col.s10{width:83.33333%}
.zk-col.s11{width:91.66666%}
.zk-col.s12,.zk-half,.zk-third,.zk-twothird,.zk-threequarter,.zk-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.zk-col.m1{width:8.33333%}
.zk-col.m2{width:16.66666%}
.zk-col.m3,.zk-quarter{width:24.99999%}
.zk-col.m4,.zk-third{width:33.33333%}
.zk-col.m5{width:41.66666%}
.zk-col.m6,.zk-half{width:49.99999%}
.zk-col.m7{width:58.33333%}
.zk-col.m8,.zk-twothird{width:66.66666%}
.zk-col.m9,.zk-threequarter{width:74.99999%}
.zk-col.m10{width:83.33333%}
.zk-col.m11{width:91.66666%}
.zk-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.zk-col.l1{width:8.33333%}
.zk-col.l2{width:16.66666%}
.zk-col.l3,.zk-quarter{width:24.99999%}
.zk-col.l4,.zk-third{width:33.33333%}
.zk-col.l5{width:41.66666%}
.zk-col.l6,.zk-half{width:49.99999%}
.zk-col.l7{width:58.33333%}
.zk-col.l8,.zk-twothird{width:66.66666%}
.zk-col.l9,.zk-threequarter{width:74.99999%}
.zk-col.l10{width:83.33333%}
.zk-col.l11{width:91.66666%}
.zk-col.l12{width:99.99999%}}
.zk-content{max-width:980px;margin:auto}
.zk-rest{overflow:hidden}
.zk-section{margin-top:16px!important;margin-bottom:16px!important}
.zk-padding-tiny{padding:2px 4px!important}.zk-padding-small{padding:4px 8px!important}
.zk-padding-medium,.zk-padding,.zk-form{padding:8px 16px!important}
.zk-padding-large{padding:12px 24px!important}.zk-padding-xlarge{padding:16px 32px!important}
.zk-padding-xxlarge{padding:24px 48px!important}.zk-padding-jumbo{padding:32px 64px!important}
.zk-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.zk-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.zk-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.zk-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.zk-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.zk-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.zk-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.zk-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.zk-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.zk-padding-0{padding:0!important}
.zk-padding-top{padding-top:8px!important}.zk-padding-bottom{padding-bottom:8px!important}
.zk-padding-left{padding-left:16px!important}.zk-padding-right{padding-right:16px!important}
.zk-example,.zk-code{margin:20px 0}.zk-card{border:1px solid #ccc}
.zk-card-2,.zk-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.zk-card-4,.zk-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.zk-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); background-color: gray; color: yellow;}
.zk-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.zk-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.zk-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
#nav-bar{
	padding: 20px;
	padding-top: 40px;
	padding-left: 20%;
	width: auto;
	height: auto;
	margin: 2px;
	border-radius: 20px;
}
#nav-bar ul{
	width: auto;
	position: absolute;
	background-color: #80ffbf;
	border: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-top: 1px solid #ff0000;
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav-bar ul li{
	float: left;
	height: 40px;
	width: 200px;
	padding-top: 6px;
	padding-bottom: 2px;
	margin: 2px;
	text-align: center;
}
#nav-bar ul li:hover{
	color: #0000ff;
	background-color: #f1fedc;
	padding-left: 0px;
	padding-top: 5px;
}
#nav-bar ul li a{
	display: block;
	padding: 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #0000ff;
}
#nav-bar ul li a:hover{
	background-color: #f1fedc;
	color: #000000;
	text-shadow: 0px 1px 0px #ffffff;
}
#nav-bar ul li ul{
	list-style: none;
	background-color: #d9ffcc;
	width: 200px;
	height: auto;
	padding: 0px;
	margin-top: 11px;
	border: 3px solid #00ff00;
	border-bottom: 3px solid #0000ff;
	position: left;
	display: none;
}
#nav-bar ul li ul li{
	width: 100%;
	float: left;
}
#nav-bar ul li:hover ul{
	display: block;
}
#nav-bar ul li:hover ul li{
	color: #000000;
}
#nav-bar ul li ul li:hover{
	color: #0000ff;
}
#fom{
	display: block;
	width: auto;
	height: auto;
	margin: 2px;
	padding: 5px;
}
#fom span{
	margin: 2px;
	padding: 250px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#fom input{
	margin: 2px;
	padding: 5px;
	display: inline;
}
#table {
	table-layout: fixed;
	width: 100%;
}
table ,tr td{
    border:0.5px solid black;
}
/*table ,tr th{
    border:0.5px solid black;
}*/
tbody {
    display:block;
    height:400px;
    overflow:auto;
}
thead,tbody tr {
    display:table;
    width:100%;
	table-layout: fixed;
}
thead {
	
	width: calc(100%-1em)
}
table {
	width: 100%;
}
.btn {
	border-radius: 15px;
	box-shadow: 0 5px #999;
}
.btn:active {
	background-color: #ff0000;
	box-shadow: 0px #666;
    transform: translateY(5px);
}
#img {
	height: 15px;
	width: 15px;
}
