html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.zk-slim,.zk-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.zk-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.zk-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
.zk-image{max-width:100%;height:auto}
.zk-table,.zk-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.zk-table-all{border:1px solid #ccc}
.zk-bordered tr,.zk-table-all tr{border-bottom:1px solid #ddd}
.zk-striped tbody tr:nth-child(even){background-color:#ffdddd}
.zk-table-all tr:nth-child(odd){background-color:#c3ffce}
.zk-table-all tr:nth-child(even){background-color:#cec3ff}
.zk-hoverable tbody tr:hover,.zk-ul.zk-hoverable li:hover{background-color:#ccc}
.zk-centered tr th,.zk-centered tr td{text-align:center}
.zk-table td,.zk-table th,.zk-table-all td,.zk-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.zk-table th:first-child,.zk-table td:first-child,.zk-table-all th:first-child,.zk-table-all td:first-child{padding-left:16px}
.zk-btn,.zk-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.zk-btn:hover,.zk-btn-block:hover,.zk-btn-floating:hover,.zk-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.zk-btn,.zk-btn-floating,.zk-btn-floating-large,.zk-closenav,.zk-opennav,.zk-btn-block{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.zk-btn-floating,.zk-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.zk-btn-floating{width:40px;height:40px;line-height:40px}.zk-btn-floating-large{width:56px;height:56px;line-height:56px}
.zk-disabled,.zk-btn:disabled,.zk-btn-floating:disabled,.zk-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.zk-btn.zk-disabled *,.zk-btn-block.zk-disabled,.zk-btn-floating.zk-disabled *,.zk-btn:disabled *,.zk-btn-floating:disabled *{pointer-events:none}
.zk-btn.zk-disabled:hover,.zk-btn-block.zk-disabled:hover,.zk-btn:disabled:hover,.zk-btn-floating.zk-disabled:hover,.zk-btn-floating:disabled:hover,
.zk-btn-floating-large.zk-disabled:hover,.zk-btn-floating-large:disabled:hover{box-shadow:none}
.zk-btn-group .zk-btn{float:left}.zk-btn-block{width:100%}
.zk-btn-bar .zk-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.zk-btn-bar .zk-btn:hover{background-color:#ccc}
.zk-badge,.zk-tag,.zk-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.zk-badge{border-radius:50%}
ul.zk-ul{list-style-type:none;padding:0;margin:0}ul.zk-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}ul.zk-ul li:last-child{border-bottom:none}
.zk-tooltip,.zk-display-container{position:relative}.zk-tooltip .zk-text{display:none}.zk-tooltip:hover .zk-text{display:inline-block}
.zk-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.zk-navbar li{float:left}.zk-navbar li a,.zk-navitem,.zk-navbar li .zk-btn,.zk-navbar li .zk-input{display:block;padding:8px 16px}.zk-navbar li .zk-btn,.zk-navbar li .zk-input{border:none;outline:none;width:auto;}
.zk-navbar li a:hover{color:#000;background-color:#ccc}
.zk-navbar .zk-dropdown-hover,.zk-navbar .zk-dropdown-click{position:static}
.zk-navbar .zk-dropdown-hover:hover,.zk-navbar .zk-dropdown-hover:first-child,.zk-navbar .zk-dropdown-click:hover{background-color:#ccc;color:#000}
.zk-navbar a,.zk-topnav a,.zk-sidenav a,.zk-dropdown-content a,.zk-accordion-content a,.zk-dropnav a{text-decoration:none!important}
.zk-navbar .zk-opennav.zk-right{float:right!important}.zk-topnav{padding:8px 8px}
.zk-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .25s;transition:border-bottom .25s}
.zk-topnav a:hover{border-bottom:3px solid #fff}.zk-topnav .zk-dropdown-hover a{border-bottom:0}
.zk-opennav,.zk-closenav{color:inherit}.zk-opennav:hover,.zk-closenav:hover{cursor:pointer;opacity:0.8}
.zk-btn,.zk-btn-floating,.zk-dropnav a,.zk-btn-floating-large,.zk-btn-block, .zk-navbar a,.zk-sidenav a,.zk-pagination li a,.zk-hoverable tbody tr,.zk-hoverable li,
.zk-accordion-content a,.zk-dropdown-content a,.zk-dropdown-click:hover,.zk-dropdown-hover:hover,.zk-opennav,.zk-closenav,.zk-closebtn,*[class*="zk-hover-"]
{-webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;transition:background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s}
.zk-ripple:active{opacity:0.5}.zk-ripple{-webkit-transition:opacity 0s;transition:opacity 0s}
.zk-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.zk-sidenav a{padding:4px 2px 4px 16px}.zk-sidenav a:hover{background-color:#ccc}.zk-sidenav a,.zk-dropnav a{display:block}
.zk-sidenav .zk-dropdown-hover:hover,.zk-sidenav .zk-dropdown-hover:first-child,.zk-sidenav .zk-dropdown-click:hover,.zk-dropnav a:hover{background-color:#ccc;color:#000}
.zk-sidenav .zk-dropdown-hover,.zk-sidenav .zk-dropdown-click {width:100%}.zk-sidenav .zk-dropdown-hover .zk-dropdown-content,.zk-sidenav .zk-dropdown-click .zk-dropdown-content{min-width:100%}
.zk-main,#main{transition:margin-left .4s}
.zk-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.zk-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.zk-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.zk-closebtn:hover,.zk-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.zk-pagination{display:inline-block;padding:0;margin:0}.zk-pagination li{display:inline}
.zk-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.zk-pagination li a:hover{background-color:#ccc}
.zk-input-group,.zk-group{margin-top:24px;margin-bottom:24px}
.zk-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:auto;}
.zk-label{color:#009688}.zk-input:not(:valid)~.zk-validate{color:#f44336}
.zk-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.zk-select select:focus{color:#000;border:1px solid #009688}.zk-select option[disabled]{color:#009688}
.zk-dropdown-click,.zk-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.zk-dropdown-hover:hover .zk-dropdown-content{display:block;z-index:1}
.zk-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.zk-dropdown-content a{padding:6px 16px;display:block}
.zk-dropdown-content a:hover{background-color:#ccc}
.zk-accordion {width:100%;cursor:pointer}
.zk-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.zk-accordion-content a{padding:6px 16px;display:block}.zk-accordion-content a:hover{background-color:#ccc}
.zk-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.zk-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].zk-check,input[type=radio].zk-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].zk-check:checked+.zk-validate,input[type=radio].zk-radio:checked+.zk-validate{color:#009688} 
input[type=checkbox].zk-check:disabled+.zk-validate,input[type=radio].zk-radio:disabled+.zk-validate{color:#aaa}
.zk-responsive{overflow-x:auto}
.zk-container:after,.zk-panel:after,.zk-row:after,.zk-row-padding:after,.zk-topnav:after,.zk-clear:after,.zk-btn-group:before,.zk-btn-group:after,.zk-btn-bar:before,.zk-btn-bar:after
{content:"";display:table;clear:both}
.zk-col,.zk-half,.zk-third,.zk-twothird,.zk-threequarter,.zk-quarter{float:left;width:100%}
.zk-col.s1{width:8.33333%}
.zk-col.s2{width:16.66666%}
.zk-col.s3{width:24.99999%}
.zk-col.s4{width:33.33333%}
.zk-col.s5{width:41.66666%}
.zk-col.s6{width:49.99999%}
.zk-col.s7{width:58.33333%}
.zk-col.s8{width:66.66666%}
.zk-col.s9{width:74.99999%}
.zk-col.s10{width:83.33333%}
.zk-col.s11{width:91.66666%}
.zk-col.s12,.zk-half,.zk-third,.zk-twothird,.zk-threequarter,.zk-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.zk-col.m1{width:8.33333%}
.zk-col.m2{width:16.66666%}
.zk-col.m3,.zk-quarter{width:24.99999%}
.zk-col.m4,.zk-third{width:33.33333%}
.zk-col.m5{width:41.66666%}
.zk-col.m6,.zk-half{width:49.99999%}
.zk-col.m7{width:58.33333%}
.zk-col.m8,.zk-twothird{width:66.66666%}
.zk-col.m9,.zk-threequarter{width:74.99999%}
.zk-col.m10{width:83.33333%}
.zk-col.m11{width:91.66666%}
.zk-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.zk-col.l1{width:8.33333%}
.zk-col.l2{width:16.66666%}
.zk-col.l3,.zk-quarter{width:24.99999%}
.zk-col.l4,.zk-third{width:33.33333%}
.zk-col.l5{width:41.66666%}
.zk-col.l6,.zk-half{width:49.99999%}
.zk-col.l7{width:58.33333%}
.zk-col.l8,.zk-twothird{width:66.66666%}
.zk-col.l9,.zk-threequarter{width:74.99999%}
.zk-col.l10{width:83.33333%}
.zk-col.l11{width:91.66666%}
.zk-col.l12{width:99.99999%}}
.zk-content{max-width:980px;margin:auto}
.zk-rest{overflow:hidden}
.zk-hide{display:none!important}.zk-show-block,.zk-show{display:block!important}.zk-show-inline-block{display:inline-block!important}
@media (max-width:600px){.zk-modal-content{margin:0 10px;width:auto!important}.zk-modal{padding-top:30px}}
@media (max-width:768px){.zk-modal-content{width:500px}.zk-modal{padding-top:50px}}
@media (min-width:993px){.zk-modal-content{width:900px}}
@media screen and (max-width:600px){.zk-topnav a{display:block}.zk-navbar li:not(.zk-opennav){float:none;width:100%!important}.zk-navbar li.zk-right{float:none!important}}	
@media screen and (max-width:600px){.zk-topnav .zk-dropdown-hover .zk-dropdown-content,.zk-navbar .zk-dropdown-click .zk-dropdown-content,.zk-navbar .zk-dropdown-hover .zk-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.zk-topnav,.zk-navbar{text-align:center}}
@media (max-width:600px){.zk-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.zk-hide-medium{display:none!important}}
@media (min-width:993px){.zk-hide-large{display:none!important}}
@media screen and (max-width:992px){.zk-sidenav.zk-collapse{display:none}.zk-main{margin-left:0!important;margin-right:0!important}}
@media screen and (min-width:993px){.zk-sidenav.zk-collapse{display:block!important}}
.zk-top,.zk-bottom{position:fixed;width:100%;z-index:1}.zk-top{top:0}.zk-bottom{bottom:0}
.zk-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.zk-left{float:left!important}.zk-right{float:right!important}
.zk-tiny{font-size:10px!important}.zk-small{font-size:12px!important}
.zk-medium{font-size:15px!important}.zk-large{font-size:18px!important}
.zk-xlarge{font-size:24px!important}.zk-xxlarge{font-size:36px!important}
.zk-xxxlarge{font-size:48px!important}.zk-jumbo{font-size:64px!important}
.zk-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.zk-left-align{text-align:left!important}.zk-right-align{text-align:right!important}
.zk-justify{text-align:justify!important}.zk-center{text-align:center!important}
.zk-display-topleft{position:absolute;left:0;top:0}.zk-display-topright{position:absolute;right:0;top:0}
.zk-display-bottomleft{position:absolute;left:0;bottom:0}.zk-display-bottomright{position:absolute;right:0;bottom:0}
.zk-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.zk-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.zk-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.zk-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.zk-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.zk-display-container:hover .zk-display-hover{display:block}.zk-display-container:hover span.zk-display-hover{display:inline-block}.zk-display-hover{display:none}
.zk-circle{border-radius:50%!important}
.zk-round-small{border-radius:2px!important}.zk-round,.zk-round-medium{border-radius:4px!important}
.zk-round-large{border-radius:8px!important}.zk-round-xlarge{border-radius:16px!important}
.zk-round-xxlarge{border-radius:32px!important}.zk-round-jumbo{border-radius:64px!important}
.zk-border-0{border:0!important}.zk-border{border:1px solid #ccc!important}
.zk-border-top{border-top:1px solid #ccc!important}.zk-border-bottom{border-bottom:1px solid #ccc!important}
.zk-border-left{border-left:1px solid #ccc!important}.zk-border-right{border-right:1px solid #ccc!important}
.zk-margin{margin:16px!important}.zk-margin-0{margin:0!important}
.zk-margin-top{margin-top:16px!important}.zk-margin-bottom{margin-bottom:16px!important}
.zk-margin-left{margin-left:16px!important}.zk-margin-right{margin-right:16px!important}
.zk-section{margin-top:16px!important;margin-bottom:16px!important}
.zk-padding-tiny{padding:2px 4px!important}.zk-padding-small{padding:4px 8px!important}
.zk-padding-medium,.zk-padding,.zk-form{padding:8px 16px!important}
.zk-padding-large{padding:12px 24px!important}.zk-padding-xlarge{padding:16px 32px!important}
.zk-padding-xxlarge{padding:24px 48px!important}.zk-padding-jumbo{padding:32px 64px!important}
.zk-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.zk-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.zk-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.zk-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.zk-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.zk-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.zk-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.zk-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.zk-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.zk-padding-0{padding:0!important}
.zk-padding-top{padding-top:8px!important}.zk-padding-bottom{padding-bottom:8px!important}
.zk-padding-left{padding-left:16px!important}.zk-padding-right{padding-right:16px!important}
.zk-topbar{border-top:6px solid #ccc!important}.zk-bottombar{border-bottom:6px solid #ccc!important}
.zk-leftbar{border-left:6px solid #ccc!important}.zk-rightbar{border-right:6px solid #ccc!important}
.zk-row-padding,.zk-row-padding>.zk-half,.zk-row-padding>.zk-third,.zk-row-padding>.zk-twothird,.zk-row-padding>.zk-threequarter,.zk-row-padding>.zk-quarter,.zk-row-padding>.zk-col{padding:0 8px}
.zk-spin{animation:zk-spin 2s infinite linear;-webkit-animation:zk-spin 2s infinite linear}
@-webkit-keyframes zk-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes zk-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.zk-container{padding:0.01em 16px}
.zk-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}
.zk-example{background-color:#f1f1f1;padding:0.01em 16px}
.zk-code,.zk-codespan{font-family:Consolas,"courier new";font-size:16px}
.zk-code{line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.zk-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.zk-example,.zk-code{margin:20px 0}.zk-card{border:1px solid #ccc}
.zk-card-2,.zk-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.zk-card-4,.zk-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.zk-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); background-color: gray; color: yellow;}
.zk-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.zk-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.zk-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
.zk-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.zk-animate-opacity{-webkit-animation:opac 0.8s;animation:opac 0.8s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.zk-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.zk-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.zk-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.zk-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.zk-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.zk-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.zk-animate-input:focus{width:100%!important}
.zk-opacity,.zk-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60);-webkit-backface-visibility:hidden}
.zk-opacity-off,.zk-hover-opacity-off:hover{opacity:1;filter:alpha(opacity=100);-webkit-backface-visibility:hidden}
.zk-opacity-max{opacity:0.25;filter:alpha(opacity=25);-webkit-backface-visibility:hidden}
.zk-opacity-min{opacity:0.75;filter:alpha(opacity=75);-webkit-backface-visibility:hidden}
.zk-greyscale-max,.zk-grayscale-max,.zk-hover-greyscale:hover,.zk-hover-grayscale:hover{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.zk-greyscale,.zk-grayscale{-webkit-filter:grayscale(75%);filter:grayscale(75%)}
.zk-greyscale-min,.zk-grayscale-min{-webkit-filter:grayscale(50%);filter:grayscale(50%)}
.zk-sepia{-webkit-filter:sepia(75%);filter:sepia(75%)}
.zk-sepia-max,.zk-hover-sepia:hover{-webkit-filter:sepia(100%);filter:sepia(100%)}
.zk-sepia-min{-webkit-filter:sepia(50%);filter:sepia(50%)}
.zk-text-shadow{text-shadow:1px 1px 0 #444}.zk-text-shadow-white{text-shadow:1px 1px 0 #ddd}
.zk-transparent{background-color:transparent!important}
.zk-hover-none:hover{box-shadow:none!important;background-color:transparent!important}
/* Colors */
.zk-amber,.zk-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.zk-aqua,.zk-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.zk-blue,.zk-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.zk-light-blue,.zk-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.zk-brown,.zk-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.zk-cyan,.zk-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.zk-blue-grey,.zk-hover-blue-grey:hover,.zk-blue-gray,.zk-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.zk-green,.zk-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.zk-light-green,.zk-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.zk-indigo,.zk-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.zk-khaki,.zk-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.zk-lime,.zk-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.zk-orange,.zk-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.zk-deep-orange,.zk-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.zk-pink,.zk-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.zk-purple,.zk-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.zk-deep-purple,.zk-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.zk-red,.zk-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.zk-sand,.zk-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.zk-teal,.zk-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.zk-yellow,.zk-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.zk-white,.zk-hover-white:hover{color:#000!important;background-color:#fff!important}
.zk-black,.zk-hover-black:hover{color:#fff!important;background-color:#000!important}
.zk-grey,.zk-hover-grey:hover,.zk-gray,.zk-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.zk-light-grey,.zk-hover-light-grey:hover,.zk-light-gray,.zk-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.zk-dark-grey,.zk-hover-dark-grey:hover,.zk-dark-gray,.zk-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.zk-pale-red,.zk-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.zk-pale-green,.zk-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.zk-pale-yellow,.zk-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.zk-pale-blue,.zk-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.zk-text-amber,.zk-hover-text-amber:hover{color:#ffc107!important}
.zk-text-aqua,.zk-hover-text-aqua:hover{color:#00ffff!important}
.zk-text-blue,.zk-hover-text-blue:hover{color:#2196F3!important}
.zk-text-light-blue,.zk-hover-text-light-blue:hover{color:#87CEEB!important}
.zk-text-brown,.zk-hover-text-brown:hover{color:#795548!important}
.zk-text-cyan,.zk-hover-text-cyan:hover{color:#00bcd4!important}
.zk-text-blue-grey,.zk-hover-text-blue-grey:hover,.zk-text-blue-gray,.zk-hover-text-blue-gray:hover{color:#607d8b!important}
.zk-text-green,.zk-hover-text-green:hover{color:#4CAF50!important}
.zk-text-light-green,.zk-hover-text-light-green:hover{color:#8bc34a!important}
.zk-text-indigo,.zk-hover-text-indigo:hover{color:#3f51b5!important}
.zk-text-khaki,.zk-hover-text-khaki:hover{color:#b4aa50!important}
.zk-text-lime,.zk-hover-text-lime:hover{color:#cddc39!important}
.zk-text-orange,.zk-hover-text-orange:hover{color:#ff9800!important}
.zk-text-deep-orange,.zk-hover-text-deep-orange:hover{color:#ff5722!important}
.zk-text-pink,.zk-hover-text-pink:hover{color:#e91e63!important}
.zk-text-purple,.zk-hover-text-purple:hover{color:#9c27b0!important}
.zk-text-deep-purple,.zk-hover-text-deep-purple:hover{color:#673ab7!important}
.zk-text-red,.zk-hover-text-red:hover{color:#f44336!important}
.zk-text-sand,.zk-hover-text-sand:hover{color:#fdf5e6!important}
.zk-text-teal,.zk-hover-text-teal:hover{color:#009688!important}
.zk-text-yellow,.zk-hover-text-yellow:hover{color:#d2be0e!important}
.zk-text-white,.zk-hover-text-white:hover{color:#fff!important}
.zk-text-black,.zk-hover-text-black:hover{color:#000!important}
.zk-text-grey,.zk-hover-text-grey:hover,.zk-text-gray,.zk-hover-text-gray:hover{color:#757575!important}
.zk-text-light-grey,.zk-hover-text-light-grey:hover,.zk-text-light-gray,.zk-hover-text-light-gray:hover{color:#f1f1f1!important}
.zk-text-dark-grey,.zk-hover-text-dark-grey:hover,.zk-text-dark-gray,.zk-hover-text-dark-gray:hover{color:#3a3a3a!important}
.zk-border-amber,.zk-hover-border-amber:hover{border-color:#ffc107!important}
.zk-border-aqua,.zk-hover-border-aqua:hover{border-color:#00ffff!important}
.zk-border-blue,.zk-hover-border-blue:hover{border-color:#2196F3!important}
.zk-border-light-blue,.zk-hover-border-light-blue:hover{border-color:#87CEEB!important}
.zk-border-brown,.zk-hover-border-brown:hover{border-color:#795548!important}
.zk-border-cyan,.zk-hover-border-cyan:hover{border-color:#00bcd4!important}
.zk-border-blue-grey,.zk-hover-blue-grey:hover,.zk-border-blue-gray,.zk-hover-blue-gray:hover{border-color:#607d8b!important}
.zk-border-green,.zk-hover-border-green:hover{border-color:#4CAF50!important}
.zk-border-light-green,.zk-hover-border-light-green:hover{border-color:#8bc34a!important}
.zk-border-indigo,.zk-hover-border-indigo:hover{border-color:#3f51b5!important}
.zk-border-khaki,.zk-hover-border-khaki:hover{border-color:#f0e68c!important}
.zk-border-lime,.zk-hover-border-lime:hover{border-color:#cddc39!important}
.zk-border-orange,.zk-hover-border-orange:hover{border-color:#ff9800!important}
.zk-border-deep-orange,.zk-hover-border-deep-orange:hover{border-color:#ff5722!important}
.zk-border-pink,.zk-hover-border-pink:hover{border-color:#e91e63!important}
.zk-border-purple,.zk-hover-border-purple:hover{border-color:#9c27b0!important}
.zk-border-deep-purple,.zk-hover-border-deep-purple:hover{border-color:#673ab7!important}
.zk-border-red,.zk-hover-border-red:hover{border-color:#f44336!important}
.zk-border-sand,.zk-hover-border-sand:hover{border-color:#fdf5e6!important}
.zk-border-teal,.zk-hover-border-teal:hover{border-color:#009688!important}
.zk-border-yellow,.zk-hover-border-yellow:hover{border-color:#ffeb3b!important}
.zk-border-white,.zk-hover-border-white:hover{border-color:#fff!important}
.zk-border-black,.zk-hover-border-black:hover{border-color:#000!important}
.zk-border-grey,.zk-hover-border-grey:hover,.zk-border-gray,.zk-hover-border-gray:hover{border-color:#9e9e9e!important}
.zk-border-light-grey,.zk-hover-border-light-grey:hover,.zk-border-light-gray,.zk-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.zk-border-dark-grey,.zk-hover-border-dark-grey:hover,.zk-border-dark-gray,.zk-hover-border-dark-gray:hover{border-color:#616161!important}
.zk-border-pale-red,.zk-hover-border-pale-red:hover{border-color:#ffe7e7!important}.zk-border-pale-green,.zk-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.zk-border-pale-yellow,.zk-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.zk-border-pale-blue,.zk-hover-border-pale-blue:hover{border-color:#e7ffff!important}
#nav-bar{
	padding: 20px;
	padding-top: 40px;
	padding-left: 20%;
	width: auto;
	height: auto;
	margin: 2px;
	border-radius: 20px;
}
#nav-bar ul{
	width: auto;
	position: absolute;
	background-color: #80ffbf;
	border: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-top: 1px solid #ff0000;
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav-bar ul li{
	float: left;
	height: 40px;
	width: 200px;
	padding-top: 6px;
	padding-bottom: 2px;
	margin: 2px;
	text-align: center;
}
#nav-bar ul li:hover{
	color: #0000ff;
	background-color: #f1fedc;
	padding-left: 0px;
	padding-top: 5px;
}
#nav-bar ul li a{
	display: block;
	padding: 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #0000ff;
}
#nav-bar ul li a:hover{
	background-color: #f1fedc;
	color: #000000;
	text-shadow: 0px 1px 0px #ffffff;
}
#nav-bar ul li ul{
	list-style: none;
	background-color: #d9ffcc;
	width: 200px;
	height: auto;
	padding: 0px;
	margin-top: 11px;
	border: 3px solid #00ff00;
	border-bottom: 3px solid #0000ff;
	position: left;
	display: none;
}
#nav-bar ul li ul li{
	width: 100%;
	float: left;
}
#nav-bar ul li:hover ul{
	display: block;
}
#nav-bar ul li:hover ul li{
	color: #000000;
}
#nav-bar ul li ul li:hover{
	color: #0000ff;
}
#fom{
	display: block;
	width: auto;
	height: auto;
	margin: 2px;
	padding: 5px;
}
#fom span{
	margin: 2px;
	padding: 250px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#fom input{
	margin: 2px;
	padding: 5px;
	display: inline;
}
#table {
	table-layout: fixed;
	width: 100%;
}
table ,tr td{
    border:0.5px solid black;
}
/*table ,tr th{
    border:0.5px solid black;
}*/
tbody {
    display:block;
    height:400px;
    overflow:auto;
}
thead,tbody tr {
    display:table;
    width:100%;
	table-layout: fixed;
}
thead {
	
	width: calc(100%-1em)
}
table {
	width: 100%;
}
.btn {
	border-radius: 15px;
	box-shadow: 0 5px #999;
}
.btn:active {
	background-color: #ff0000;
	box-shadow: 0px #666;
    transform: translateY(5px);
}
#img {
	height: 15px;
	width: 15px;
}